* {
    box-sizing: border-box;
}

header {
    background-color: gray;
    height: 30vh;
    width: 100%;
}

img {
    border-radius: 20px 20px 20px 20px;
}

#orange-cat {
    height: 300px;
}

#grey-cat {
    height: 300px;
}

.header-img {
    display: block;
    height: 80px;
    margin-top: 10px;
    margin-left: 20px;
}

#back-button {
    display: block;
    margin-top: 20px;
}