nav {
  background-color: rgba(10 10 30 / 20%);
  height: var(navbar-height);
  width: 90%;
  display: flex;
  align-items: center;
  gap: 2em;
  position: sticky;
  top: 1.5em;
  margin: 0 auto;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  z-index: 10;
}

nav ol {
  width: 100%;
  list-style: none;
  display: flex;
  gap: 2em;
  padding: 0 2em;
}

nav ol li {
  padding-top: 0.5em;
}

nav ol li a {
  color: rgba(200 200 200 / 80%);
  text-decoration: none;
}

nav ol li:first-child {
  margin-right: auto;
  font-weight: 600;
}

.nav_logo {
  width: 1.4em;
  /* padding-top: 0.3em; */
  filter: invert(1);
  opacity: 0.6;
}
