* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bkg-1: rgb(29, 29, 29);
  --color-bkg-2: rgb(66, 66, 66);
  --color-text-primary: rgb(1, 187, 1);
}

body {
  background-color: var(--color-bkg-2);
  color: var(--color-text-primary);
  font-family: "Courier New", Courier, monospace;
}

.main_container {
  display: grid;
  grid-template-rows: 20dvh 10dvh 50dvh 20dvh;
  grid-template-columns: 1fr;
  /* grid-gap: 1rem; */
}

.main_container > * {
  border: 1px solid red;
}

nav {
  background-color: var(--color-bkg-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  max-width: 9rem;
}

.sound-button {
  border: solid 1px yellow;
  background-color: darkred;
  margin: 1rem;
}

.sound-button-base {
  border: solid 1px yellow;
  background-color: purple;
  margin: 1rem;
}

@media (max-width: 800px) {
  .main-container {
    grid-template-rows: 20dvh 10dvh auto 20dvh;
  }
}
