nav {
    max-width: 40vw;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    border: solid 1px green;
    padding: 1em 2em;
}