#sound-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#sound-container > div {
}

@media (max-width: 800px) {
  #sound-container {
    grid-template-columns: 1fr 1fr;
  }
}
