/* global styles*/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-gray);
}

/* global styles - colours */

:root {
  --card-1-background: hsl(31, 77%, 52%);
  --card-2-background: hsl(184, 100%, 22%);
  --card-3-background: hsl(179, 100%, 13%);
  --text: hsla(0, 0%, 100%, 0.75);
  --transparent-white: hsl(0, 0%, 95%);
  --very-light-gray: hsl(0, 0%, 95%);
}

/* global styles - typography */

article .title {
  text-transform: uppercase;
  transform: scaleY(1.2);
  transform-origin: top left;
  font-size: 1.5em;
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--transparent-white);
  font-size: 35px;
}

article p {
  padding-right: 2em;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
  color: var(--text);
  font-size: 15px;
}

a {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5em;
}

/* CARDS LAYOUT */

.cards-container {
  max-width: 1000px;
  height: 30em;
  margin: 0 2em;
  display: flex;
}

.cards-container > article {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
  padding: 3em;
}

article > img {
  max-width: 60px;
}

article > .cta-container {
  margin: auto 0 2em 0;
}

article .cta-container > .cta {
  border-radius: 30px;
  text-align: center;
  padding: 0.8em 2em;
  text-decoration: none;
  background-color: var(--very-light-gray);
}

.card-sedans {
  background-color: lightpink;
  border-radius: 10px 0 0 10px;
  background-color: var(--card-1-background);
}

.card-suvs {
  background-color: lightgreen;
  background-color: var(--card-2-background);
}

.card-luxury {
  background-color: var(--card-3-background);
  border-radius: 0 10px 10px 0;
}

.card-sedans a {
  color: var(--card-1-background);
}

.card-suvs a {
  color: var(--card-2-background);
}

.card-luxury a {
  color: var(--card-3-background);
}

@media screen and (width <= 900px) {
  .cards-container {
    flex-direction: column;
  }

  .card-sedans {
    border-radius: 10px 10px 0 0;
  }

  .card-suvs {
  }

  .card-luxury {
    border-radius: 0 0 10px 10px;
  }
}
